{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{%block title%}Reset password{%endblock%}
{%block main%}
	<div class="page-header">
	    <h1>Reset Your Password</h1>
	</div>
	<div class="col-md-4">
	    {{ wtf.quick_form(form) }}
	</div>

{%endblock%}

{%block scripts%}
{{ super() }}
<script type="text/javascript">
	$(function(){
		$('#get_code').bind('click',function(){
			$.getJSON('/auth/send_code',{email:$('#email').val()},function(data){ data.res==1?alert('An email with code use to reset your password has been sent.'):alert('Something is wrong, try it later.') });
		});
	});
</script>
{%endblock%}