#emojiTable{
	margin-top: 80px;
	position: absolute;
	background: #fff;
	border-collapse: collapse;

}
#emojiTable td{
	border: 1px solid #dcdcdc;
	cursor: pointer;
	width: 28px;
	height: 28px;
	text-align: center;

}
#emojiTable td:hover{
	background-color: #e3e3e3;
}
#emojiTable tbody{
	display: block;
	height: 150px;
	overflow-y: scroll;
}
#emojiBtn{
	position: absolute;
	margin-top: 240px;
	float: left;
	background-color: #fff;
	border: 1px solid #9e9e9e;
	border-radius: 10%;
}
#emojiBtn:hover{
	background-color: #ccc;
}
#flask-pagedown-body{
	position: absolute;
	width: 400px;
	height: 236px;
}
#flask-pagedown-body-preview{
	display: none;
}
#submit{
	margin-top: 260px;
}