{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

{% endblock %}
{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">米饭</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.user', username=current_user.username) }}" target="_blank">
          <img class="baseAvatar" src="{{ url_for('static', filename='avatar/'+current_user.avatar) }}">
        </a>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('main.user', username=current_user.username) }}" target="_blank">user info</a></li>
            <li><a href="{{ url_for('auth.change_email_request') }}" target="_blank">change email</a></li>            
            <li><a href="{{ url_for('auth.change_password') }}" target="_blank">change password</a></li>
            {% if current_user.can(Permission.MODERATE) %}
            <li><a href="{{ url_for('main.moderate') }}" target="_blank">Moderate Comments</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ url_for('auth.logout' )}}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{%block main %}{% endblock %}

{% endblock %}

{%block scripts%}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/emoji_bar.js') }}"></script>
<script type="text/javascript">
  $('#flask-pagedown-body').addEmoji()
</script>
{{ moment.include_moment() }}
{%endblock%}